.header {
  width: 100vw;
  height: 67px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-menu-container {
    display: flex;
    // width: 37.5vw;
    width: 47.5vw;
    justify-content: space-between;
    margin-right: 7.36vw;

    .header-menu {
      // width: 23.93vw;
      width: 33.93vw;
      display: flex;
      justify-content: space-around;
      align-items: center;

      &--item {
        a {
          font-size: 16px;
          line-height: 18.75px;
          color: #747474;
        }
      }

      @media screen and (max-width: 1200px) {
        width: 48.93vw;
      }

      @media screen and (min-width: 751px) {
        display: flex;
      }

      @media screen and (max-width: 750px) {
        display: none;
      }
    }

    .header-button {
      padding: 12px 32px;
      font-size: 16px;
      line-height: 18.75px;
      border: none;
      border-radius: 4px;
      background-color: #272727;
      color: #ffffff;

      &:hover {
        background-color: #484848;
        cursor: pointer;
      }

      @media screen and (max-width: 1000px) {
        padding: 6px 16px;
        font-size: 14px;
        line-height: 16.41px;
      }
    }

    @media screen and (max-width: 1200px) {
      width: 57.5vw;
      margin-right: 5.36vw;
    }

    @media screen and (max-width: 1000px) {
      width: 67.5vw;
    }

    @media screen and (max-width: 750px) {
      width: 44.02vw;
    }
  }
}
