.card {
  width: 302px;
  height: 334px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  img {
    width: 302px;
    height: 192px;
    border-radius: 8px;
  }

  h4 {
    font-size: 20px;
    line-height: 30px;
    color: #1c1d28;
  }

  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    color: #747474;
    margin-top: -10px;
  }
}
