@import "../../../styles/mixins";

.card {
  width: 302px;
  height: 334px;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  row-gap: 20px;

  &:hover {
    cursor: pointer;
  }

  div {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    img {
      width: 302px;
      height: 192px;
      border-radius: 8px;
    }

    h4 {
      height: 60px;
      @include adaptive-font(16, 20);
      @include adaptive-line-height(24, 30);
      // font-size: 20px;
      // line-height: 30px;
      color: #1c1d28;

      @include mobile {
        height: 48px;
      }
    }

    p {
      height: 52px;
      @include adaptive-font(13, 16);
      @include adaptive-line-height(20.8, 25.6);
      // font-size: 16px;
      font-weight: 400;
      // line-height: 25.6px;
      color: #747474;
      // margin-top: -10px;

      @include mobile {
        height: 42px;
      }
    }

    @include mobile {
      row-gap: 20px;
    }
  }

  .hrmobile {
    display: block;
    width: inherit;
    border: 1px solid #e5e5e5;

    @include mobile-above {
      display: none;
    }
  }

  @include mobile {
    height: 372px;
    row-gap: 35px;
  }
}
